@import "reset.css";

body {
  background: #ed0080
}

.block1 {
position: absolute;
width: 1300px;
height: 2301px;
left: 70px;
top: 117px;
}

.matches1 {
position: absolute;
width: 1300px;
height: 2301px;
left: 218px;
top: 33px;
animation: matchez 3s ease-in infinite;
}


.books {
  position: absolute;
  width: 1300px;
  height: 2301px;
  left: 277px;
  top: -1px;
  animation: bookz 3s ease-in infinite;
}


.bax {
  position: absolute;
  width: 1300px;
  height: 2301px;
  left: 268px;
  top: 2px;
  animation: boz 3s ease-in infinite;
}


.block2 {
position: absolute;
width: 1300px;
height: 2301px;
left: 70px;
top: 117px;
}


.block3 {
position: absolute;
width: 1300px;
height: 2301px;
left: 70px;
top: 117px;
}

.trees {
position: absolute;
width: 1300px;
height: 2301px;
left: 181px;
top: 51px;
animation: treez 4s ease-in infinite;
}

.block4 {
position: absolute;
width: 1300px;
height: 2301px;
left: 70px;
top: 117px;
}

.block7 {
position: absolute;
width: 1300px;
height: 2301px;
left: 70px;
top: 117px;
}

.text {
position: absolute;
width: 1300px;
height: 2301px;
left: 70px;
top: 117px;
}

@keyframes  matchez {
  0% {
    transform: translate( 0px, 0px);
  }
  100% {
    transform: translate( -870px, 500px);
  }
}

@keyframes bookz {
  0% {
    transform: translate( 0px, 0px);
  }
  100% {
    transform: translate( -1050px, 600px);
  }
}

@keyframes boz {
  0% {
    transform: translate( 0px, 0px);
  }
  100% {
    transform: translate( -1210px, 700px);
  }
}

@keyframes treez {
  0% {
    transform: translate( 0px, 0px);
  }
  100% {
    transform: translate( -550px, 320px);
  }
}
